appdirs==1.4.3
aspy.yaml==1.2.0
atomicwrites==1.3.0
attrs==19.1.0
black==18.9b0
certifi==2019.3.9
cfgv==1.5.0
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.3
flake8==3.6.0
flake8-polyfill==1.0.2
identify==1.4.0
idna==2.8
importlib-metadata==0.8
importlib-resources==1.0.2
mccabe==0.6.1
more-itertools==6.0.0
mypy==0.670
mypy-extensions==0.4.1
nodeenv==1.3.3
pep8-naming==0.7.0
pluggy==0.9.0
pre-commit==1.14.3
py==1.8.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==4.0.1
pytest-cov==2.6.1
PyYAML==5.1
requests==2.21.0
six==1.12.0
toml==0.10.0
typed-ast==1.3.1
urllib3==1.24.1
virtualenv==16.4.0
zipp==0.3.3
