attrs==20.3.0
base58==2.1.0
bitarray==1.2.2
blake2b-py==0.1.3
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
contract-deploy-tools==0.7.1
cytoolz==0.10.1
eth-abi==2.1.1
eth-account==0.5.4
eth-bloom==1.0.3
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-tester==0.5.0b3
eth-tester-rpc==0.5.0b1
eth-typing==2.2.2
eth-utils==1.9.5
Flask==1.1.2
Flask-Cors==3.0.10
gunicorn==20.0.4
hexbytes==0.2.1
idna==2.10
iniconfig==1.1.1
ipfshttpclient==0.7.0a1
itsdangerous==1.1.0
Jinja2==2.11.3
json-rpc==1.13.0
jsonschema==3.2.0
lru-dict==1.1.7
MarkupSafe==1.1.1
multiaddr==0.0.9
mypy-extensions==0.4.3
netaddr==0.8.0
packaging==20.9
parsimonious==0.8.1
pendulum==2.1.2
pluggy==0.13.1
protobuf==3.15.6
py==1.10.0
py-ecc==4.1.0
py-evm==0.3.0a20
py-solc==3.2.0
pycryptodome==3.10.1
pyethash==0.1.27
pyparsing==2.4.7
pyrsistent==0.17.3
pysha3==1.0.2
pytest==6.2.2
python-dateutil==2.8.1
pytzdata==2020.1
requests==2.25.1
rlp==2.0.1
semantic-version==2.8.5
six==1.15.0
sortedcontainers==2.3.0
toml==0.10.2
toolz==0.10.0
trie==2.0.0a5
typing-extensions==3.7.4.3
urllib3==1.26.3
varint==1.0.2
web3==5.17.0
websockets==8.1
Werkzeug==1.0.1
